:root {
  --wrapper-bg-color: #ffffff;
  --primary-color: #0c3153;
  --description-color: #626262;

  --header-bg-color: #151e2c;
  --gold-color: #cdae72;
  --tag-color: #004686;

  --white-text-color: #ffffff;

  --border-card-color: #e7edf3;

  --section-title-color: #0c3153;
  --section-title-border-color: #cdae72;
  --side-title-color: #0c3153;

  --footer-bg-color: #001a31;
  --border-footer-color: rgba(231, 237, 243, 0.25);

  --side-feed-bg-color: #f7f7f7;
  --card-date-color: #f7f7f7;

  --btn-1-color: #d0021b;

  --transition: all 0.25s ease-in-out;
  --card-border-radius: 8px;
  --gap-basic: 16px;
}
