@font-face {
  font-family: "FFF Hero Bold";
  src: url("/src/fonts/fff-hero-bold.ec97c54f.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FFF Equipe News";
  src: url("/src/fonts/fff-equipe-news.28afa5de.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FFF Equipe Bold";
  src: url("/src/fonts/fff-equipe-bold.7b49be2d.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
